CREATE OR REPLACE FUNCTION catchmenu_store.call_customer_pickup(p_tenant_id uuid, p_store_id uuid, p_order_id uuid, p_queue_type text DEFAULT 'PICKUP_READY'::text, p_target_zone text DEFAULT NULL::text, p_locale text DEFAULT 'ko'::text, p_correlation_id text DEFAULT NULL::text)\n RETURNS jsonb\n LANGUAGE plpgsql\n SECURITY DEFINER\n SET search_path TO 'catchmenu_store', 'catchmenu_pos', 'catchmenu_ledger', 'catchmenu_common', 'catchmenu_hq'\nAS $function$\ndeclare\n  v_order record;\n  v_did_device record;\n  v_queue_id uuid;\n  v_display_number text;\n  v_display_message jsonb;\n  v_auto_dismiss_at timestamptz;\n  v_business_day date;\n  v_timezone text;\nbegin\n  select timezone into v_timezone\n  from catchmenu_hq.stores\n  where id = p_store_id and tenant_id = p_tenant_id;\n\n  v_business_day := (timezone(\n    coalesce(v_timezone, 'Asia/Seoul'), now()\n  ))::date;\n\n  select o.id, o.order_number, o.order_type,\n         o.order_status, o.final_amount,\n         o.session_id,\n         os.wait_number\n  into v_order\n  from catchmenu_pos.orders o\n  left join catchmenu_pos.order_sessions os\n    on os.id = o.session_id\n  where o.id = p_order_id\n    and o.store_id = p_store_id\n    and o.tenant_id = p_tenant_id;\n\n  if v_order.id is null then\n    return catchmenu_common.build_error_response(\n      p_error_key := 'order_not_found',\n      p_locale := p_locale,\n      p_tenant_id := p_tenant_id,\n      p_store_id := p_store_id,\n      p_rpc_name := 'call_customer_pickup'\n    );\n  end if;\n\n  v_display_number := coalesce(\n    v_order.order_number,\n    v_order.wait_number::text,\n    v_order.id::text\n  );\n\n  select id, did_code, call_display_seconds,\n         call_repeat_count, call_interval_seconds\n  into v_did_device\n  from catchmenu_store.did_devices\n  where store_id = p_store_id\n    and tenant_id = p_tenant_id\n    and is_active = true\n    and (\n      p_target_zone is null\n      or zone = p_target_zone\n    )\n  order by\n    case display_mode\n      when 'PICKUP' then 0\n      when 'MIXED' then 1\n      else 2\n    end\n  limit 1;\n\n  -- i18n 표시 메시지 (message_catalog 참조)\n  v_display_message := jsonb_build_object(\n    'ko', jsonb_build_object(\n      'title', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_title'\n          when 'TABLE_READY'\n            then 'did_call_table_title'\n          when 'WAITING_CALL'\n            then 'did_call_waiting_title'\n          else 'did_call_pickup_title'\n        end,\n        'ko', null\n      ),\n      'body', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_body'\n          when 'TABLE_READY'\n            then 'did_call_table_body'\n          when 'WAITING_CALL'\n            then 'did_call_waiting_body'\n          else 'did_call_pickup_body'\n        end,\n        'ko',\n        jsonb_build_object(\n          'display_number', v_display_number\n        )\n      )\n    ),\n    'en', jsonb_build_object(\n      'title', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_title'\n          when 'TABLE_READY'\n            then 'did_call_table_title'\n          when 'WAITING_CALL'\n            then 'did_call_waiting_title'\n          else 'did_call_pickup_title'\n        end,\n        'en', null\n      ),\n      'body', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_body'\n          when 'TABLE_READY'\n            then 'did_call_table_body'\n          when 'WAITING_CALL'\n            then 'did_call_waiting_body'\n          else 'did_call_pickup_body'\n        end,\n        'en',\n        jsonb_build_object(\n          'display_number', v_display_number\n        )\n      )\n    ),\n    'zh', jsonb_build_object(\n      'title', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_title'\n          when 'TABLE_READY'\n            then 'did_call_table_title'\n          else 'did_call_waiting_title'\n        end,\n        'zh', null\n      ),\n      'body', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_body'\n          when 'TABLE_READY'\n            then 'did_call_table_body'\n          else 'did_call_waiting_body'\n        end,\n        'zh',\n        jsonb_build_object(\n          'display_number', v_display_number\n        )\n      )\n    ),\n    'ja', jsonb_build_object(\n      'title', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_title'\n          when 'TABLE_READY'\n            then 'did_call_table_title'\n          else 'did_call_waiting_title'\n        end,\n        'ja', null\n      ),\n      'body', catchmenu_common.get_message(\n        case p_queue_type\n          when 'PICKUP_READY'\n            then 'did_call_pickup_body'\n          when 'TABLE_READY'\n            then 'did_call_table_body'\n          else 'did_call_waiting_body'\n        end,\n        'ja',\n        jsonb_build_object(\n          'display_number', v_display_number\n        )\n      )\n    )\n  );\n\n  v_auto_dismiss_at := now() + interval '1 second'\n    * coalesce(\n      v_did_device.call_display_seconds, 30\n    );\n\n  insert into catchmenu_store.did_display_queue (\n    tenant_id, store_id,\n    did_device_id, did_zone,\n    queue_type, priority,\n    order_id, session_id,\n    order_number, wait_number,\n    display_number, display_message,\n    display_locale,\n    max_call_count,\n    next_call_at,\n    queue_status,\n    auto_dismiss_at,\n    business_day\n  ) values (\n    p_tenant_id, p_store_id,\n    v_did_device.id,\n    coalesce(p_target_zone, 'MAIN'),\n    p_queue_type,\n    case p_queue_type\n      when 'WAITING_CALL' then 1\n      when 'TABLE_READY' then 2\n      when 'PICKUP_READY' then 3\n      else 5\n    end,\n    p_order_id, v_order.session_id,\n    v_order.order_number, v_order.wait_number,\n    v_display_number, v_display_message,\n    p_locale,\n    coalesce(v_did_device.call_repeat_count, 3),\n    now(),\n    'DISPLAYING',\n    v_auto_dismiss_at,\n    v_business_day\n  )\n  returning id into v_queue_id;\n\n  perform catchmenu_common.notify_channel(\n    p_tenant_id := p_tenant_id,\n    p_store_id := p_store_id,\n    p_channel_type := 'DID_DISPLAY',\n    p_event_type := p_queue_type,\n    p_payload := jsonb_build_object(\n      'queue_id', v_queue_id,\n      'queue_type', p_queue_type,\n      'order_id', p_order_id,\n      'order_number', v_order.order_number,\n      'display_number', v_display_number,\n      'display_message', v_display_message,\n      'locale', p_locale,\n      'did_zone', coalesce(p_target_zone, 'MAIN'),\n      'auto_dismiss_at', v_auto_dismiss_at,\n      'called_at', now()\n    )\n  );\n\n  if p_queue_type = 'PICKUP_READY'\n    and v_order.order_status\n      not in ('COMPLETED', 'CANCELLED')\n  then\n    update catchmenu_pos.orders\n    set\n      order_status = 'READY',\n      ready_at = coalesce(ready_at, now()),\n      updated_at = now()\n    where id = p_order_id\n      and order_status not in (\n        'READY', 'PICKED_UP',\n        'COMPLETED', 'CANCELLED'\n      );\n  end if;\n\n  insert into catchmenu_ledger.events (\n    tenant_id, store_id,\n    event_domain, event_type, event_version,\n    subject_type, subject_id,\n    from_state, to_state,\n    caused_by_type, event_payload,\n    order_id, correlation_id,\n    business_day, business_timezone, occurred_at\n  ) values (\n    p_tenant_id, p_store_id,\n    'store', 'did_customer_called', 1,\n    'did_queue', v_queue_id,\n    null, 'DISPLAYING',\n    'SYSTEM',\n    jsonb_build_object(\n      'queue_type', p_queue_type,\n      'order_id', p_order_id,\n      'order_number', v_order.order_number,\n      'display_number', v_display_number,\n      'did_device_code',\n        v_did_device.did_code,\n      'locale', p_locale\n    ),\n    p_order_id, p_correlation_id,\n    v_business_day, v_timezone, now()\n  );\n\n  return catchmenu_common.build_success_response(\n    p_message_key := 'order_ready',\n    p_data := jsonb_build_object(\n      'queue_id', v_queue_id,\n      'queue_type', p_queue_type,\n      'order_id', p_order_id,\n      'order_number', v_order.order_number,\n      'display_number', v_display_number,\n      'did_device_code',\n        coalesce(v_did_device.did_code, 'N/A'),\n      'auto_dismiss_at', v_auto_dismiss_at,\n      'display_message', v_display_message\n    ),\n    p_locale := p_locale,\n    p_params := jsonb_build_object(\n      'order_number', v_display_number\n    ),\n    p_correlation_id := p_correlation_id\n  );\nend;\n$function$\n
